<!doctype html>
<html ng-app="customersApp">
  <head>
    <title>Iterating over Data</title>
  </head>
  <body ng-controller="CustomersController">
    <h2>Customers</h2>
    Filter: <input type="text" ng-model="customerFilter.name" />
    <br/><br/>
    <table border=1>
      <tr>
        <th ng-click="doSort('name')">Name</th>
        <th ng-click="doSort('city')">City</th>
        <th ng-click="doSort('orderTotal')">Order Total</th>
        <th ng-click="doSort('joined')">Joined</th>
      </tr>
      <tr ng-repeat="customer in customers | filter:customerFilter | orderBy:sortBy:reverse">
        <td>{{customer.name}}</td>
        <td>{{customer.city | uppercase}}</td>
        <td>{{customer.orderTotal | currency}}</td>
        <td>{{customer.joined | date:'MM-dd-yyyy'}}</td>
      </tr>
    </table>
    <br/>
    <span>Total customers: {{customers.length}}</span>
    <script src="angular.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/customersController.js"></script>
  </body>
</html>